$color-blue: #12c2e9;
$color-purple: #c471ed;
$color-red: #f64f59;
$color-green: #12d95e;
$color-gray-placeholder: #cfcfcf;
$color-light-gray: #e4e4e4;
$color-gray: #303030;
$color-black: #101010;

$container-width: 650px;
$gap-s: 8px;
$gap-m: 16px;
$gap-l: 32px;
$button-max-width: 300px;
$button-height: 40px;
$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 16px;

$anim-time: 0.2s;
$anim-mode: ease-in-out;
