@import "@root/variables.scss";

.saved-art-page {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100dvh;

    .container {
        width: 100%;
        height: 100%;
        max-width: $container-width;
        min-height: 100dvh;
        margin: 0 auto;
        padding: $gap-s;

        .arts {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: $gap-s;
            width: 100%;
            height: fit-content;

            .art-container {
                position: relative;
                width: 100%;
                height: auto;
                border-radius: $border-radius-m;
                aspect-ratio: 1/1;
                overflow: hidden;

                .art,
                .saved-art {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1/1;
                }

                .art {
                    filter: grayscale(1);
                }
            }
        }
    }
}
