@import "@root/variables.scss";

.art-item-top-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
    background-color: #ffffff;

    .back {
        position: absolute;
        left: 0;
        top: 0;
        width: auto;
        height: 100%;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 100%;
            aspect-ratio: 1/1;
            border: none;
            background-color: transparent;
            cursor: pointer;

            img {
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }
    }

    .bottom-line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(0.25turn, $color-blue, $color-purple, $color-red);
    }
}
